# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.*

# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project logs and caches
july_server/log/
image/log/

# Build/coverage
coverage/
dist/
build/
